<template>
    <div>
        <div style="margin: 20px;">
            <el-checkbox v-model="checked"></el-checkbox>
        </div>
        <div style="margin: 20px;">
            <el-checkbox v-model="checkes"></el-checkbox>
        </div>
        <div style="margin: 20px;">
            <el-checkbox v-model="checked" disabled></el-checkbox>
        </div>
        <div style="margin: 20px;">
            <el-checkbox v-model="checkes" disabled></el-checkbox>
        </div>
        <div style="margin: 20px">
            <el-radio v-model="radio" label="1"></el-radio>
            <el-radio v-model="radio" label="2"></el-radio>
        </div>
        <div style="margin: 20px">
            <el-radio disabled v-model="radio1" label="1"></el-radio>
            <el-radio disabled v-model="radio1" label="2"></el-radio>
        </div>

        <!--      <el-input placeholder="Please input password" v-model="input" show-password></el-input>-->
        <hr>

        <el-button plain>Кнопка</el-button>

        <hr>

        <el-form ref="form" :model="form" label-width="120px">
            <el-form-item absLabel label="Placeholder">
                <el-input placeholder="Please input password" v-model="input" show-password></el-input>
            </el-form-item>
        </el-form>

        <hr>
        <!--<i class="el-icon-document"></i>-->
        <el-tag
            v-for="tag in tags"
            :key="tag.name"
            closable
            :type="tag.type">
            {{ tag.name }}
        </el-tag>

        <div style="margin: 20px">
            <el-switch v-model="value1"></el-switch>
        </div>
        <div style="margin: 20px">
            <el-switch disabled v-model="value2"></el-switch>
        </div>
        <div style="margin: 20px">
            <el-switch v-model="value4"></el-switch>
        </div>
        <div style="margin: 20px">
            <el-switch disabled v-model="value3"></el-switch>
        </div>


        <hr>

        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="User" name="first">User</el-tab-pane>
            <el-tab-pane label="Config" name="second">Config</el-tab-pane>
            <el-tab-pane label="Role" name="third">Role</el-tab-pane>
            <el-tab-pane label="Task" name="fourth">Task</el-tab-pane>
        </el-tabs>

        <hr>
        <br>
        <br>
        <br>


        <hr>

        <h4>DIVIDER</h4>

        <br>
        <br>
        <br>
        <br>

        <el-badge :value="12" class="item">
            <el-button size="small">comments</el-button>
        </el-badge>
        <el-badge :value="3" class="item" type="success">
            <el-button size="small">replies</el-button>
        </el-badge>
        <el-badge :value="1" class="item" type="primary">
            <el-button size="small">comments</el-button>
        </el-badge>
        <el-badge :value="2" class="item" type="warning">
            <el-button size="small">replies</el-button>
        </el-badge>

        <el-dropdown trigger="click">
              <span class="el-dropdown-link">
                Click Me<i class="el-icon-caret-bottom el-icon--right"></i>
              </span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item class="clearfix">
                    comments
                    <el-badge class="mark" :value="12"/>
                </el-dropdown-item>
                <el-dropdown-item class="clearfix">
                    replies
                    <el-badge class="mark" :value="3"/>
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>


        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>

        <div class="frames-wrapper" style="background: #fafafa; display:flex;  padding: 15px;">
            <div class="shadow" style="background-color: #ffffff; width: 57px; height: 57px; margin-right: 15px;"></div>
            <div class="shadow-md" style="background-color: #ffffff; width: 57px; height: 57px; margin-right: 15px;"></div>
            <div class="shadow-sm" style="background-color: #ffffff; width: 57px; height: 57px; margin-right: 15px;"></div>
            <div class="border" style="background-color: #ffffff; width: 57px; height: 57px; margin-right: 15px;"></div>
            <div class="border-sh" style="background-color: #ffffff; width: 57px; height: 57px; margin-right: 15px;"></div>
        </div>

        <hr>
        <br>
        <br>
        <br>
        <br>

        <el-steps :active="active" finish-status="success">
            <el-step></el-step>
            <el-step></el-step>
            <el-step></el-step>
            <el-step></el-step>
            <el-step></el-step>
        </el-steps>
        <el-button style="margin-top: 12px;" @click="next">Next step</el-button>


        <br>
        <br>
        <br>
        <br>

        <hr>

        <br>
        <br>
        <br>
        <br>


        <div class="social-wrapper" style="display: flex; align-items: center;">
            <a href="#" class="social fac">
                <div class="img"><img src="images/fill-1.svg" alt=""></div>
                <div class="text">Continue with Facebook</div>
            </a>
            <a href="#" class="social goo">
                <div class="img"><img src="images/20553916451556105321.svg" alt=""></div>
                <div class="text">Continue with Google</div>
            </a>
            <a href="#" class="social app">
                <div class="img"><img src="images/apple-seeklogo-com.svg" alt=""></div>
                <div class="text">Continue with Apple</div>
            </a>
            <a href="#" class="social link">
                <div class="img"><img src="images/iconmonstr-linkedin-1.svg" alt=""></div>
                <div class="text">Continue with Linkedin</div>
            </a>
        </div>

        <br>
        <br>
        <br>
        <br>

        <hr>

        <el-date-picker
            v-model="valueDate"
            type="date"
            placeholder="Pick a day">
        </el-date-picker>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <hr>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <hr>


        <br>
        <br>
        <br>
        <br>
        <br>


    </div>

</template>

<script>
export default {
    data() {
        return {
            active: 0,
            checked: true,
            checkes: false,
            radio: '1',
            radio1: '2',
            value1: true,
            value2: true,
            value3: false,
            value4: false,
            valueDate:'',
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            tags: [
                {
                    name: 'Tag 1',
                    type: ''
                },
                {
                    name: 'Tag 2',
                    type: 'success'
                },
                {
                    name: 'Tag 3',
                    type: 'info'
                },
                {
                    name: 'Tag 4',
                    type: 'warning'
                },
                {
                    name: 'Tag 5',
                    type: 'danger'
                }
            ],
            activeName: 'first'

        };
    },
    methods: {
        handleClick(tab, event) {
            console.log(tab, event);
        },
        next() {
            if (this.active++ > 4) this.active = 0;
        }
    }
};
</script>
